@charset "UTF-8";
*{
font-family: Arial, Helvetica, sans-serif;
color: white;

}

body{
    background-image:linear-gradient(to left, #7575de, #323291, #171741);
}

.header{
    background-color: #351e79;
    position: static;
    padding: 20px 20px 40px 20px;
    margin-top:auto;
}
.botao{
    background-color: #49c6e89f;
    height: 32px;
    width: 80px;
    border: solid rgb(0, 0, 0);
    box-shadow: 2px 5px 5px #0f0826;
    border-radius: 15px;
    position: relative;
    top: 10px; 
    text-shadow: 1px 1px 0 black;
}

h1{
    font-size: 3em;
    background-color: #351e79;
    margin: auto;
    text-shadow: 3px 3px 3px black;
    position: relative;
    left: 10px;
   
}

.video{
    position: relative;
    top:150px;
    width: 500px;
}