@charset "UTF-8";
*{
    padding: 0px; 
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}
body{
    position: relative;
    height: 100vh;
    background: white url('pacote-img/imagens/fundo-madeira.jpg') center center no-repeat;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#phone{
    background: transparent url('pacote-img/imagens/frame-iphone.png') center center no-repeat;
    width: 311px;
    border-radius: 50px;
    height: 627px;
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

}
#screen{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 269px;
    height: 475px;
    border-radius: 4px;
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.534);
    
}
#social{
    display: inline-block;
    position: absolute; 
    left: 100%; top: 10%;
    transition: transform 0.5s ease;;
}
#social a{
    display: block;
}
#social img{
    width: 50px;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.388);
    transition: transform 0.4s ease;
}
#social img:hover{
    transform: scale(1.1);
    border: 2px solid rgba(255, 255, 255, 0.33);
}
#botao{
    position: absolute;
    left: 90%; top: 10px;
    padding: 10px;
    border-radius:50px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
}
#botao:hover {
    background-color: rgb(189, 189, 189);
}