*{
    padding: 0px;
    margin: 0px;
}
*::selection{
    color: transparent;
}
body{
    background: white url('pacote-img/imagens/fundo-madeira.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
}
section#phone{
    background:url('pacote-img/imagens/frame-iphone.png') center center no-repeat;
    background-size: cover;
    min-height: 627px;
    max-width: 315px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%)
}
    iframe{
        position: absolute;
        top: 78px; left: 25px;
        width: 268px;
        height: 476px;
    }
nav {
    display: inline-block;
    position: absolute;
    top: 50px; left: 100%;
    transform: translate(-100%);
}
nav a img:hover{
    transform: scale(1.2);
    border: solid 1px white;
    box-sizing: border-box;
}
nav a img{
    display: block;
    margin: 10px;
    border-radius: 50%;
    width: 50px;
}
